
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Pacifico&family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(224, 156, 204);
    text-align: center;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;

    

}

.estilo{
    background-color: rgb(248, 59, 207);
    text-align: center;
}

.conteudo{
    background-color: rgb(247, 163, 233);
    text-align: center;
}

.cont p{
    background-color: rgb(238, 175, 212);
    text-align: center;
}

#p1{
    background-color: rgb(241, 195, 234);
    text-align: center;
}