.box{
    width: 1500px;
    height: 650px;
    display: grid;
    grid-template-areas: "h h"
                         "l lat"
                         "f f";

    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 800px 300px ;                     
}

.header{
    background-color: red;
    grid-area: h;
}

.l1{
    background-color: yellow;
    grid-area: l;
}

.lateral{
    background-color: pink;
    grid-area: lat;
}

.footer{
    background-color: burlywood;
    grid-area: f;
}

p{
    text-align: center;
    font-size: 30px;
}